.scroll-stack-scroller {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.scroll-stack-scroller.internal-scroll {
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
}

.scroll-stack-scroller.window-scroll {
  overflow: visible;
  height: auto;
}

.scroll-stack-inner {
  position: relative;
  padding: 3rem 1rem 22rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .scroll-stack-inner {
    padding: 4rem 1.5rem 26rem;
  }
}

@media (min-width: 1024px) {
  .scroll-stack-inner {
    padding: 4rem 2rem 30rem;
  }
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  width: 100%;
  min-height: 18rem;
  margin: 24px 0;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
  pointer-events: none;
}
